md-dialog#layer-detail-modal {
  height: 100%;
  width: 100%;

  md-toolbar {
    height: 50px;
    min-height: 50px;
    .md-toolbar-tools {
      height: 50px;
      min-height: 50px;
    }
  }

  md-dialog-content {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    #layer-map {
      padding: 0;
      margin: 0;
      width: 100%;
      height: calc(100% - 50px);
      z-index: 11;
    }
  }

}