$panelHeight: 80%;
md-sidenav#route-panel {
  z-index: 11;
  height: $panelHeight !important;
  min-height: 0 !important;
  max-height: 100% !important;
  top: 10%;
  width: 30%;

  md-toolbar {
    width: 100%;
  }

  md-content {
    padding: 10px !important;
    height: calc(100% - 40px) !important;

    li.li-parent-destinations-list {
      max-height: 450px; // TODO: make it dynamic use %
      overflow-y: auto;
    }

    .route-panel-content-body {
      padding: 0;

      ul.collapsible {
        box-shadow: none;

        .collapsible-body {

          .add-destination-by-address-container {
            padding: 10px;

            md-input-container.route-dest-add-address {
              width: 80%;
            }

            md-input-container {
              padding: 0;
              margin: 0;

              input {
                margin-bottom: 0;
              }
            }
          }
        }

        .collapsible-body.collapsible-body-destinations-list {
          md-list.md-list-destinations {
            padding-top: 0px;
            padding-bottom: 0px;

            md-list-item {
              height: 45px;
              min-height: 0px;

              button {
                padding-left:10px;
                min-height: 0px;
                height: inherit;

                .md-list-item-inner {
                  min-height: 0px;
                  height: inherit;

                  img {
                    border-radius: 0;
                    height: 80%;
                    width: auto;
                  }

                  .md-list-item-text {
                    font-size: 14px;
                    max-height: 100px;
                    height: auto;
                    word-wrap: break-word;
                    line-height: 20px;

                    p {
                      padding: 5px;
                    }
                  }

                  button {
                    z-index: 12;
                    margin: 0px;
                    padding: 0px;

                    height: 30px;
                    width: 30px;
                    line-height: 33px;

                    md-icon {
                      font-size:20px;
                    }
                  }

                }
              }
            }
          }

        }

      }
    }
  }
}