{% extends "base.html" %}

{% block content %}
    {% raw %}
    <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDmng5sov5Ju5jmf5-RmjOTrqnekXpSkwc&libraries=geometry,places,drawing"></script>

    <div id="index-container" ng-controller="indexController as indexCtl">
        <treasure-overlay-spinner active='spinner.active'>
    {% endraw %}
        <div ng-controller="gmapController as gmapCtl">
            <!-- map canvas dimensions will be computed during map initialization -->
            {% include "partials/_map.html" %}

            <!-- Map Drawing Panel -->
            {% include "partials/_layer_panel_controls.html" %}
            {% include "partials/_route_panel.html" %}
            {% include "partials/_layer_panel.html" %}

            <md-button id="rfp-layer-toggle-btn" class="md-icon-button md-raised md-primary" ng-click="indexCtl.toggleRfpPanel()">
                <md-tooltip md-direction="left">
                    Show RFP Panel
                </md-tooltip>
                <md-icon>map</md-icon>
            </md-button>

            {% include "partials/_rfp_layers_panel.html" %}
        </div>
    {% raw %}
        </treasure-overlay-spinner>
    </div>
    {% endraw %}

    <script src="js/vendor.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="js/app.min.js"></script>
{% endblock %}