{% raw %}
<!-- ROUTE PANEL SIDENAV -->
<md-sidenav class="md-sidenav-left md-whiteframe-z2 map-panel"
    md-component-id="routePanel"
    id="route-panel">
  <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
          <md-button ng-click="indexCtl.closeSideNav('routePanel')">
              <md-icon>arrow_back</md-icon>
          </md-button>
          <md-icon style="margin-right: 10px;">local_shipping</md-icon>
          <h3>Route Planner</h3>
          <span flex></span>
      </div>
  </md-toolbar>

  <md-content layout-padding ng-controller="routePanelController as routeCtl">
      <div layout="column" class="route-panel-content-body">

          <ul class="collapsible" data-collapsible="expandable">
              <li>
                  <div class="collapsible-header"><i class="material-icons">navigation</i>Destinations</div>
                  <div class="collapsible-body">
                  <!-- DESTINATIONS -->
                      <div class="add-destination-by-address-container" layout="column">
                            <div>
                                <md-input-container class="route-dest-add-address" md-no-float>
                                    <input id="destination-address-input" placeholder="Add Location by Address">
                                </md-input-container>
                                <md-button class="md-icon-button md-raised">
                                    <md-icon>add</md-icon>
                                </md-button>
                            </div>
                      </div>
                  </div>
              </li>
              <li>
                  <div class="collapsible-header"><i class="material-icons">pin_drop</i>Routes</div>
                  <div class="collapsible-body">
                  <!-- EDIT ROUTE -->
                      <p>Lorem ipsum dolor sit amet.</p>
                  </div>
              </li>
          </ul>

          <div layout="column" style="position:absolute;bottom:0;left:20%;padding-bottom:10px">
            <md-button class="md-raised">Calculate Fastest Roundtrip</md-button>
            <md-button class="md-raised">Calculate Fastest A-Z Trip</md-button>
            <md-button ng-click="routeCtl.clearRoutes()">Clear Routes</md-button>
          </div>

      </div>
  </md-content>

</md-sidenav>

{% endraw %}
