<md-dialog id="layer-detail-modal" aria-label="Layer Detail" ng-cloak>

    <!-- Loader -->
    <div id="modal-loader" layout="row" layout-align="center center">
        <md-progress-circular md-mode="indeterminate" md-diameter="100"></md-progress-circular>
    </div>

    <md-toolbar>
            <div class="md-toolbar-tools">
                <h3 inline-edit="showLayerCtl.layer.layer_name"
                    inline-edit-validation="showLayerCtl.updateLayerName(newValue)"
                    inline-edit-btn-edit='<md-icon>mode_edit</md-icon>'
                    inline-edit-btn-save='<md-icon>save</md-icon>'
                    inline-edit-btn-cancel='<md-icon>close</md-icon>'>
                </h3>
                <span flex></span>

                <md-button class="md-icon-button md-mini" ng-click="showLayerCtl.updateMap()">
                    <md-tooltip md-direction="top">Add/Edit Map Annotations</md-tooltip>
                    <md-icon>rate_review</md-icon>
                </md-button>

                <md-button class="md-icon-button md-mini" ng-click="showLayerCtl.initilaizePDFExporting()">
                    <md-tooltip md-direction="top">Export to PDF</md-tooltip>
                    <md-icon>picture_as_pdf</md-icon>
                </md-button>

                <md-button class="md-icon-button" ng-click="showLayerCtl.close()">
                    <md-icon aria-label="Close dialog">arrow_forward</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content id="layer-detail-dialog-content">
                <div ng-include="'partials/drawing_panel.tmpl.html'"></div>
                <div id="layer-map"></div>
        </md-dialog-content>
</md-dialog>
